.notextselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}
.datamousehover{
    stroke: black;
    stroke-width: 2px;
}
.CompareChart-xaxis  .tick line ,.CompareChart-yaxis .tick line ,.CompareChart-y2axis  .tick line{
    fill:none;
    stroke: black;
}
.CompareChart-xaxis path,.CompareChart-yaxis path,.CompareChart-y2axis path{
    fill:none;
    stroke:black;
}
.CompareChart-xaxis ,.CompareChart-yaxis ,.CompareChart-y2axis .tick{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.CompareChart-Bar{
    opacity: 0.8
}
.CompareChart-area{
    opacity: 0.5
}
.CompareChart-boxplot{
     opacity: 0.8
}
.CompareChart-hintdiv{
    display: flex;
    align-items: center;
    justify-content: center;
}
.CompareChart-hint{
    font-size:3rem;
}
.RadarChart-svg{
    /*background-color: black;
    fill:red;*/
}
.tool-tip-table{
    border-collapse:collapse;
    border-spacing:0;
    background-color:#fff;
    empty-cells:show;
    -webkit-box-shadow: 7px 7px 12px -9px rgb(119,119,119);
    -moz-box-shadow: 7px 7px 12px -9px rgb(119,119,119);
    box-shadow: 7px 7px 12px -9px rgb(119,119,119);
    opacity: 0.9;
}
.tool-tip-table th{
 background-color: black;
  font-size:16px;
  padding:2px 5px;
  text-align:center;
  color:#FFF;
}
.tool-tip-table tr{
    border: 1px solid #CCC;
}
.tool-tip-table td
{
 font-size:13px;
  padding: 3px 6px;
  background-color:#fff;
  border-left:1px dotted #999;
}
.tool-tip-table td > span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 6px;
}
.legendNotSelected{
 opacity: 0.2 !important;
}
.compareChartNotSelected{
    opacity:0.2
}
.radarNotSelect{
    opacity:0.2
}
.measuremouseover{
    fill:rgb(240,240,240);
    background-color: rgb(240,240,240);
}
.measuremouseout{
    fill:none
}