body{
  
    .chartpage{
       
        display: flex;
        flex-direction:column;
        section{
            display: flex;
            flex-direction: row;
            margin: auto;
            flex-wrap: wrap;
            div{
                margin:auto;
            }
            section{
                display: flex;
                flex-direction: column;
                margin: auto;
                .textarea {
                display: block;
                margin:20 20;
                .configeditor{
                        height: 300px;
                        width: 600px;
                 }
                 label,button{
                     margin:5 0;
                 }
            }
            }

        }
        .chart{
           
        }
        .timechartapi{
          display: block;
          width: 90%;
        }
    }
    blockquote{
        display: block;
        background: #fff;
        padding: 0 5 0 10 ;
        font-size:16px;
        color:#666;
        line-height: 2;
        border-left: 15px solid #c76c0c;
        border-right: 2px solid #c76c0c;

    }
}
