.smartTraffic-chart{
     font-family: sans-serif;
     font-size: 14px;
}
.axis path,
.axis line{
    fill: none;
  stroke: black;
}
.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.selectCircle circle{
    stroke: black;
    stroke-width: 2px;
}
.titleBar{
    font-size: 18px;
    font-family:  sans-serif;
    margin-bottom: 40;
}
.infoBar{
    background-color: gray;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.notSelected{
 opacity: 0.3 !important;
}
.smartTrafficChart-ToolTip{
    border-radius:2px;
    padding:4 4 4 4 ;
}
.SmartTrafficChart-bar{
    opacity:0.7
}
.SmartTrafficChart-area{
    opacity: 0.5
}
.SmartTrafficChart-boxplot{
    opacity: 0.8
}
.tool-tip-table{
    border-collapse:collapse;
    border-spacing:0;
    background-color:#fff;
    empty-cells:show;
    -webkit-box-shadow: 7px 7px 12px -9px rgb(119,119,119);
    -moz-box-shadow: 7px 7px 12px -9px rgb(119,119,119);
    box-shadow: 7px 7px 12px -9px rgb(119,119,119);
    opacity: 0.8;
}
.tool-tip-table th{
 background-color: black;
  font-size:16px;
  padding:2px 5px;
  text-align:center;
  color:#FFF;
}
.tool-tip-table tr{
    border: 1px solid #CCC;
}
.tool-tip-table td
{
 font-size:13px;
  padding: 3px 6px;
  background-color:#fff;
  border-left:1px dotted #999;
}
.tool-tip-table td > span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 6px;
}